.paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paragraph:hover {
    font-size: 150%;
}

.card__para {
    background-color: #303182;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.card__parahead {
    text-align: center;
    font-size: 150%
}